.carouselHolder{
    width : 100%;
    height : 300px;
    background-color:#1FA3F4;
    text-align:center;

}
.carouselImage{
    width : auto; 
    height: 300px;
}
@media only screen and (max-width: 600px) {
    .carouselImage{
        width : 100%; 
        height: 300px;
    }
  }