.cart-popup{
    width : 100%;
}
.mainContainer{
    margin: 5px;
    width : 60%;
    height: 350px;
    background-color: #FAFAFA;
    
}
.one{
    width: 60%;
    height: 350px;
    float: left;
    
}
.two{
    width: 40%;
    height: 350px;
    float: left;
    
    
}
.imageHolder{
    float:left;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 350px;
}
.productInfo{
   
    width: 50%;
    height: 350px;
   float: left;
   padding: 20px;
}
.priceHolder{
    float: left;
    width: 100%;
    height: 175px;
    text-align: right;
    padding: 20px;
}
.removeHolder{
    width: 100%;
    height: 175px;
    text-align: right;
    padding: 20px;

    }
.productImage{
    
    width: 90%;
    height : 90%;
}

.productInfoHolder{
    text-align: left;
    margin-top: 100px;
}
.removeProduct{
    margin-top: 120px;
}
.productPrice{
    color: red;
}
.totalMoni{
    width: 60%;
    padding: 20px;
    text-align: right;
}
.totalMoni h3{
    color: brown;
}
 
@media only screen and (max-width: 800px) {
    .mainContainer{
    width : 100%;
    }
  }
  
  @media only screen and (max-width: 1024px) {
    .mainContainer{
    width : 100%;
    }
  }
  
  
  
  
  @media only screen and (max-width: 600px) {
    .mainContainer{
    width : 100%;
    height: auto;
    float: left;
    }
    .one{
        width: 100%;
    }
    .two{
        width: 100%;
    }
   .imageHolder{
       width: 100%;
   }
   .productInfo{
       width: 100%;
       
   }
   .priceHolder{
       text-align: left;
   }
   .removeHolder{
       text-align: left;
   }
   .removeProduct{
       margin-top: 50px;
   }
   .productInfoHolder{
       margin-top: 70px;
   }
  }